@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;	
}

.header_wrap {
	height: 51px;
	overflow: hidden;
}

nav {
	line-height: 50px;
	background-color:#ffffff;
	padding: 15px;
	min-height: 2050px;
	width: 10.6%;
	float: left;
	margin-right: 2px;
}

.bod {
	padding: 15px;
	min-height: 2100px;
	float: left;
	width: 68.6%;
	background: white;
}

#sidebar-right {
	right:0;
	margin-right: 10px;
	width: 20%;
	height: 1900px;
	background-color:#ecfbe8;
	color:#8c8c8c;
	font-size:1.2em;
	padding:10px;
	position: fixed;
}

.friend_list>li {
	cursor: pointer;
	margin-bottom: 5px;
	border:3px solid white;
	border-radius: 10px;
	padding:5px 20px 5px 20px;
	
}

.selected{
	background: white;
}

.chat {
	padding: 15px;
	min-height: 2100px;
	float: right;
	width: 19.8%;
	background: #4C0000;
}

.chat_popup {
	display: none;
	width: 255px;
	height: 320px;
	background: white;
	position:absolute;
	top: 320px;
	
}

.chat_text {
	padding: 8px;
	height: 85%;
	overflow: scroll;
}

.chat_sendbar {
	border-top: 1px solid black;
	color:black;
}

.send_text, .receive_text {
	overflow: hidden;
}
.target_man{
	color: black;
	width:95%;
	float: left;
}
.chat_exit{
	with:4%;
	color:black;
}
.send_text>span {
	max-width:150px;
	float: left;
	padding: 5px;
	background-color: blue;
	word-break:break-all;
}

.receive_text>span {
	max-width:150px;
	float: right;
	padding: 5px;
	background-color: green;
	word-break:break-all;
}

footer {
	clear: both;
	background-color: #5D5D5D;
	padding-top: 20px;
	text-align: center;
	height: 50px;
	clear: both;
	color: white;
}